img.logo {
    max-height: 40px;
}

h2 {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    margin-top: 2rem;
}

div>h2:first-child {
    margin-top: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}