$line-height: 1.2;
$margin: 5px;

.prayer-calendar-title {
    border: 0;
    margin-top: 0 !important;
    margin-bottom: $margin;
    padding-bottom: 4px;
}

.prayer-calendar-verse {
    font-weight: bold;
    margin: calc($margin * 0.5) 0;
    text-align: center;

    .ref {
        color: grey;
        font-size: 0.9rem;
        font-style: italic;
        font-weight: normal;
        padding-left: $margin;
    }
}

.prayer-calendar-days {
    >div {
        padding: 0 0.25rem;
    }

    .day {
        margin-top: $margin;
        min-height: 88px;

        $size: 48px;

        .date {
            border: 1px solid #adb5bd;
            float: left;
            height: $size;
            margin: 0;
            padding: 0;
            width: $size;

            .month {
                background-color: #dee2e6;
                font-size: 0.8rem;
                font-variant: small-caps;
                font-weight: 500;
                line-height: 1;
                padding: 1px 0 2px;
                text-align: center;
                width: 100%;
            }

            .dow {
                font-size: 0.8rem;
                font-variant: small-caps;
                line-height: 1;
                margin: 2px 2px 0 0;
            }

            .num {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
            }
        }

        .content {
            border-top: 1px solid #adb5bd;
            font-size: 0.8rem;
            height: 100%;
            line-height: $line-height;
            margin-left: $size + $margin;
            padding-top: 1px;

            .services {
                .people {
                    font-size: 0.7rem;
                }
                .service {
                    .teaching {
                        margin-left: calc($margin * 2);
                    }
                }
            }

            .readings {
                font-size: 0.7rem;
                margin-top: 2px;

                a {
                    margin: 0 0.5rem 0 0;
                }
            }
        }

        .clear {
            clear: both;
            margin-left: $size + $margin;
        }
    }

    .guidance {
        background-color: #dee2e6;
        margin-top: calc($margin * 1.4);
        padding: 2px 4px;

        p {
            font-size: 0.95rem;
            line-height: $line-height;
            margin: 4px 2px;
            padding: 0;
            text-align: center;

            &.prayer {
                font-weight: 600;
            }
        }
    }
}

.prayer-page-footer {
    p {
        line-height: $line-height;
        margin: 0;
        padding: 0;
    }
}

.admin-prayer-calendar-column {
    overflow-y: auto;

    .people {
        min-height: 50px;
    }
}