$margin: 8mm;

@media print {
    @page {
        margin: $margin;
    }
}

html.print,
html.print>body {
    margin: 0;
    padding: 0;
    //width: calc(297mm - calc($margin * 2));
}

html.print {
    .rota-services.row {
        display: block;

        >div {
            width: 100%;
        }

        .card {
            break-inside: avoid-page;
            margin: 1rem 0 !important;

            .card-title,
            .card-subtitle {
                display: inline;
            }

            .card-title {
                margin-right: $margin;
            }

            .details {
                display: flex;

                .teaching {
                    p {
                        margin: 0;
                    }

                    .bible>a {
                        white-space: nowrap;
                    }
                }

                .people {
                    .ministry-name {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .prayer-calendar-days {
        .readings {
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}