img.logo {
  max-height: 40px;
}

h2 {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  margin-top: 2rem;
}

div > h2:first-child {
  margin-top: 0.5rem;
}

:root {
  --bs-font-sans-serif: "source-sans-vf", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

form input[type=date],
form input[type=time] {
  height: 38px;
}

.rota-services .people > p {
  margin-top: 3px !important;
}

.prayer-calendar-title {
  margin-top: 0 !important;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.prayer-calendar-days > div {
  padding: 0 0.25rem;
}
.prayer-calendar-days .verse {
  font-weight: bold;
  margin: 2.5px 0;
  text-align: center;
}
.prayer-calendar-days .verse .ref {
  color: grey;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
  padding-left: 5px;
}
.prayer-calendar-days .day {
  margin-top: 5px;
}
.prayer-calendar-days .day .date {
  border: 1px solid #adb5bd;
  float: left;
  height: 48px;
  margin: 0;
  padding: 0;
  width: 48px;
}
.prayer-calendar-days .day .date .month {
  background-color: #dee2e6;
  font-size: 0.8rem;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1;
  padding: 1px 0 2px;
  text-align: center;
  width: 100%;
}
.prayer-calendar-days .day .date .dow {
  font-size: 0.8rem;
  font-variant: small-caps;
  line-height: 1;
  margin: 2px 2px 0 0;
}
.prayer-calendar-days .day .date .num {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}
.prayer-calendar-days .day .content {
  font-size: 0.8rem;
  height: 100%;
  line-height: 1.2;
  margin-left: 53px;
}
.prayer-calendar-days .day .content .services .service .teaching {
  margin-left: 10px;
}
.prayer-calendar-days .day .clear {
  border-bottom: 1px solid #dee2e6;
  clear: both;
  margin-left: 53px;
}
.prayer-calendar-days .guidance {
  background-color: #dee2e6;
  margin-top: 5px;
  padding: 2px 4px;
}
.prayer-calendar-days .guidance p {
  font-size: 0.95rem;
  line-height: 1.2;
  margin: 4px 2px;
  padding: 0;
  text-align: center;
}
.prayer-calendar-days .guidance p.prayer {
  font-weight: 600;
}

.footer-prayer p {
  line-height: 1.2;
  margin: 3px 0;
  padding: 0;
}

.admin-prayer-calendar-column {
  overflow-y: auto;
}
.admin-prayer-calendar-column .people {
  min-height: 50px;
}

@media print {
  @page {
    margin: 8mm;
  }
}
html.print,
html.print > body {
  margin: 0;
  padding: 0;
}

html.print .rota-services.row {
  display: block;
}
html.print .rota-services.row > div {
  width: 100%;
}
html.print .rota-services.row .card {
  break-inside: avoid-page;
  margin: 1rem 0 !important;
}
html.print .rota-services.row .card .card-title,
html.print .rota-services.row .card .card-subtitle {
  display: inline;
}
html.print .rota-services.row .card .card-title {
  margin-right: 8mm;
}
html.print .rota-services.row .card .details {
  display: flex;
}
html.print .rota-services.row .card .details .teaching p {
  margin: 0;
}
html.print .rota-services.row .card .details .teaching .bible > a {
  white-space: nowrap;
}
html.print .rota-services.row .card .details .people .ministry-name {
  font-weight: 500;
}

@media print {
  @page {
    margin: 8mm;
    size: A4 landscape;
  }
}
html.notices,
html.notices > body {
  margin: 0;
  padding: 0;
  width: 281mm;
}

html.notices .rota-services.row > div {
  padding: 0 0.5rem;
  width: 25%;
}
html.notices .rota-services.row .card {
  margin: 0.5rem 0 !important;
}
html.notices .rota-services.row .card .card-title,
html.notices .rota-services.row .card .card-subtitle {
  display: block;
}
html.notices .rota-services.row .card .card-title {
  margin-right: 8mm;
}
html.notices .rota-services.row .card .card-body {
  padding: 0.75rem;
}
html.notices .rota-services.row .card .details {
  line-height: 1.1em;
  margin-top: 0.5rem;
}
html.notices .rota-services.row .card .details .teaching {
  margin: 0.5rem 0;
}
html.notices .rota-services.row .card .details .teaching p {
  display: inline;
  margin: 0;
}
html.notices .rota-services.row .card .details .teaching .bible > a {
  white-space: nowrap;
}
html.notices .rota-services.row .card .details .people {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  text-indent: -0.5rem;
}
html.notices .rota-services.row .card .details .people .ministry-name {
  font-weight: 500;
}

/*!
 * Feeds v1.0
 */

/*# sourceMappingURL=feeds.css.map */
