@media print {
    @page {
        size: A4 landscape;
        margin: 10mm;
    }

    * {
        font-family: "Source Sans Pro";
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 297mm;
    }
}
