$margin: 10mm;

@media print {
    @page {
        size: A4 landscape;
        margin: $margin;
    }
}

html.print,
html.print>body {
    margin: 0;
    padding: 0;
    width: calc(297mm - calc($margin * 2));
}

html.print {
    .rota-services.row {
        >div {
            padding: 0.25rem;
            width: calc(100% / 4);
        }

        .card {
            margin: 0 !important;

            .teaching.bible>a {
                white-space: nowrap;
            }
        }
    }
}
